@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1125px;
    margin: 0 auto;
    padding: 30px;
}

.event-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(179px, 1fr));
    grid-gap: 2rem;
    margin-top: 20px;
}

.event-item {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    height: 385px;
    display: flex;
    flex-direction: column;
}

.event-item:hover {
    box-shadow: 0 0 0 2px #6d28d9;
    
}

.event-detail {
    padding: 0.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-name {
    font-weight: 600;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.event-image img{
    height: 300px;
    object-fit: cover;
}

.event-detail-image img{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    height: 600px;
    width: 400px;
    object-fit: cover;
}

.event-detail-box{
    margin-bottom: 10px;
    background-color: rgb(31, 41, 55);
    color: white;
    border-radius: 10px;
    width: 500px;
    padding: 20px;
}

.budget-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 2rem;
    margin-top: 70px;
}

.budget-item {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    height: 200px;
    display: flex;
    flex-direction: row;
}

.budget-item:hover {
    box-shadow: 0 0 0 2px #6d28d9;
}

.budget-detail {
    padding: 0.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.budget-image img{
    height: 200px;
    width: 250px;
    object-fit: cover;
}

.event-detail-box-white{
    margin-bottom: 10px;
    background-color: white;
    color: rgb(31, 41, 55);
    border-radius: 10px;
    width: 500px;
    padding: 20px;
}
